NACIONALE_DB_HOST=localhost
NACIONALE_DB_NAME=nacionale
NACIONALE_DB_USER=nacionale_user
NACIONALE_DB_PASS=change-me

NACIONALE_CORS_ORIGIN=*
NACIONALE_FREE_SHIPPING_THRESHOLD=3000
NACIONALE_SHIPPING_COST=350
